<h1>"Welcome!! - Index page"</h1>
<ul>
    <% @articles.each do |article| %>
        <li>
            <h3> <%= link_to article.title, article_path(article) %> </h3>
        </li>
    <% end %>
</ul>

<%= link_to "Create New Article", new_article_path %>
